force-app/main/default/flows/ContactCount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignContactCount</name>
        <label>AssignContactCount</label>
        <locationX>661</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>TotalContact</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ValidateAccountid</name>
        <label>ValidateAccountid</label>
        <locationX>431</locationX>
        <locationY>94</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountid</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>SearchContacts</targetReference>
            </connector>
            <label>isNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>ContactCount1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactCount1</label>
    <loops>
        <name>contactLoop</name>
        <label>contactLoop</label>
        <locationX>439</locationX>
        <locationY>281</locationY>
        <assignNextValueToReference>sobj</assignNextValueToReference>
        <collectionReference>contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignContactCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>SearchContacts</name>
        <label>SearchContacts</label>
        <locationX>432</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contactLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contacts</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccount</name>
        <label>UpdateAccount</label>
        <locationX>440</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_contact__c</field>
            <value>
                <elementReference>TotalContact</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>434</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <defaultValue>
                <stringValue>{!$Flow.FaultMessage} Validation fail</stringValue>
            </defaultValue>
            <fieldText>Error</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>ValidateAccountid</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>TotalContact</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
