force-app/main/default/flows/Renew_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_New_Collection</name>
        <label>Add to New Collection</label>
        <locationX>860</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>oppProducts_new</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppProduct_loop</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>230</locationX>
        <locationY>107</locationY>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NinetyDay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Product</name>
        <label>Update Opportunity Product</label>
        <locationX>714</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>oppProduct_loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProduct_loop.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>NinetyDay</name>
        <dataType>Date</dataType>
        <expression> TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Renew Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renew Opportunity</label>
    <loops>
        <name>Iterate_Over_Products</name>
        <label>Iterate Over Products</label>
        <locationX>513</locationX>
        <locationY>222</locationY>
        <assignNextValueToReference>oppProduct_loop</assignNextValueToReference>
        <collectionReference>oppProducts_Original</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clone_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>373</locationX>
        <locationY>161</locationY>
        <connector>
            <targetReference>Iterate_Over_Products</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Clone_Products</name>
        <label>Clone Products</label>
        <locationX>710</locationX>
        <locationY>77</locationY>
        <inputReference>oppProducts_new</inputReference>
    </recordCreates>
    <start>
        <locationX>88</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Opportunity_Fields</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppProduct_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_new</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
