force-app/main/default/flows/Time_Tracking.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Valid_Click</name>
        <label>Valid Click?</label>
        <locationX>453</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Start_Button_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TimeTrackingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Start</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Tracking_Record</targetReference>
            </connector>
            <label>Yes-Start Button Pressed</label>
        </rules>
        <rules>
            <name>Yes_End_Button_Pressed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_TimeTrackingId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Start</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_End_Time</targetReference>
            </connector>
            <label>Yes-End Button Pressed</label>
        </rules>
    </decisions>
    <interviewLabel>Time Tracking {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Tracking</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_Tracking_Record</name>
        <label>Create Time Tracking Record</label>
        <locationX>261</locationX>
        <locationY>286</locationY>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Tracking__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Time_Tracking</name>
        <label>Lookup Time Tracking</label>
        <locationX>454</locationX>
        <locationY>27</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_Click</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserId</elementReference>
            </value>
        </filters>
        <object>Time_Tracking__c</object>
        <outputAssignments>
            <assignToReference>var_TimeTrackingId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_End_Time</name>
        <label>Update End Time</label>
        <locationX>649</locationX>
        <locationY>297</locationY>
        <connector>
            <targetReference>Fault_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_TimeTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>453</locationX>
        <locationY>388</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactYourAdmin</name>
            <fieldText>Please contact your Administrator and give them this error message.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Lookup_Time_Tracking</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>var_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Start</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_TimeTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
